<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title|default:"Seisho Kaichi Room Manager" }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Noto+Sans&family=Noto+Sans+Display&display=swap" rel="stylesheet">

  {% load static %}
  <link href="{% static 'rooms/css/base.css' %}" rel="stylesheet">
</head>
<body>

<header>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">🐱‍🏍 SEIKAI ROOM MANAGER</a>

      <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'rooms:rooms_list' %}">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reservations:reservations_list' %}">Reservations</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  {% block content %}{% endblock content %}
</main>

<footer>
</footer>

</body>
</html>